# Used when running integration tests locally.
# Obtain AUTH_TOKEN by logging in once (including 2FA) and reading client.session.auth_token.
AUTH_TOKEN="your-auth-token-here"
COUNTRY_CODE="NL" # use either "NL" or "DE"
